    <h3>BİLGİSAYAR</h3>
    <h2>EJS WORKING!!!!!11!!</h2>

    <p><%= mesaj%></p>

    <h2>Dizi yazdırmak</h2>
    <!--HTML kodu yazmak için EJS kodunu "%>" ile  kapatmak gerekiyor-->
    <ul>
    <% langs.forEach(element => { %>
        <li><%= element%> </li>
    <% }) %>
</ul>
